@use "../../../node_modules/bootstrap/scss/bootstrap";


$dc-blue-primary: #0282F9;
$dc-dark-primary: #1C1C1C;
$dc-dark-secondary: #303030;
$dc-dark-black: #000000;
$dc-light-primary: #ffffff;
$dc-grey-primary: #a3a3a3;

body {
    min-width: 900px;
}

header {

    .active {
        border-bottom: 4px solid $dc-blue-primary;

        a {
            color: $dc-blue-primary;
        }
    }

    a {
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        color: $dc-dark-black;
    }

    a:hover {
        color: $dc-blue-primary;
    }
}

main {
    background-color: $dc-dark-primary;
    color: $dc-light-primary;

    .main1 {
        height: 400px;
        background-image: url('../img/jumbotron.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main2 {

        position: relative;

        .current {
            font-size: 30px;
            position: absolute;
            top: -25px;
            left: -10px;
        }

        .comic-img {
            object-fit: cover;
        }

    }
}

.footer1 {
    background-color: $dc-blue-primary;
    color: $dc-light-primary;
    font-size: 14px;

    a {
        text-decoration: none;
        color: $dc-light-primary;
    }

    a:hover {
        color: $dc-dark-primary;
    }
}

.footer2 {
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .footer2-container {
        height: 430px;

        .link-container {
            height: 420px;

            a {
                text-decoration: none;
                color: $dc-grey-primary
            }

            a:hover {
                color: $dc-light-primary;
            }
        }

        .dc-image {
            width: 600px;
            height: 100%;
            background-image: url('../img/dc-logo-bg.png');
            background-repeat: no-repeat;
            background-position: center;
        }
    }

}

.footer3 {
    background-color: $dc-dark-secondary;
    color: $dc-light-primary;

    button {
        border: 2px solid $dc-blue-primary;
        background-color: $dc-dark-secondary;
        color: $dc-light-primary;
        font-weight: bold;
        padding: 5px;
    }

    .follow {
        color: $dc-blue-primary;
        font-size: 20px;
    }
}